<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.picturesearch.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.example.picturesearch.entity.Category">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="superCategory" column="super_category" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="datasetId" column="dataset_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,super_category,category,
        category_id, dataset_id
    </sql>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO category (super_category,category,category_id,dataset_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.superCategory},#{item.category},#{item.categoryId}, #{item.datasetId})
        </foreach>
    </insert>
    <select id="selectSuperCategories" resultType="string">
        select distinct c.super_category
        from category c join picture_category pc on c.category_id = pc.category_id
        where pc.picture_id = #{pictureId}
    </select>
    <select id="selectSuperCategoriesByDatasetId" resultType="java.lang.String">
        select distinct  super_category
        from category where dataset_id = #{datasetId}
    </select>
</mapper>
