<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.picturesearch.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.example.picturesearch.entity.Picture">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pictureName" column="picture_name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="pictureId" column="picture_id" jdbcType="BIGINT"/>
            <result property="vector" column="vector" jdbcType="VARCHAR"/>
            <result property="datasetId" column="dataset_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,picture_name,url,
        picture_id, vector, dataset_id
    </sql>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO picture (picture_name,url,picture_id, dataset_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.pictureName},#{item.url},#{item.pictureId}, #{item.datasetId})
        </foreach>
    </insert>
</mapper>
